{% extends "polls/base.html" %}
{% block base %}
    <div class="row g-3 mb-3">
        <div class="col-md-6 col-xxl-3" style="width: 100%; text-align: left">
            <div class="card h-md-100">
                <div class="card-body">
                    <div class="row h-100 justify-content-between g-0">
                        <div class="col-5 col-sm-6 col-xxl pe-2">
                            <h2 class="mt-1">问题列表</h2>
                            {% if latest_question_list %}
                                <ul>
                                    {% for question in latest_question_list %}
                                        <li>
                                            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No polls are available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


